# BUSINESS UNDERSTANDING
## OVERVIEW
## PROBLEM STATEMENT
Nowadays people who are traveling find it difficult to select the right hotel or an Airbnb to stay due to their large number of choices available. This happens because different properties have different features such as location, budget and amenities or other personal needs. Also, the property owners in these platforms would want their properties to be matched to the right customers so that the rate they get booked increases and also to make sure that the customers are satisfied. Therefore, there is need of a solution that will use the specific features of each property to match travelers with the best accommodations for them based on their preferences while also property owners benefiting.
## GENERAL OBJECTIVES
To develop a feature-based recommendations system for hotels and Airbnb that matches a person with accommodation based on property features such as location, price and amenities thereby improving user satisfaction, increasing booking rates and improving the visibility of properties.

## SPECIFIC OBJECTIVES
* To develop a recommendation system that suggests hotels and Airbnb’s based on the features of the property that is the location, price and amenities available.* 	To improve customer satisfaction by recommending them with properties that almost match with their preference in terms of features they want.* )	To reduce the time people, spend when selecting a place to stay by giving them relevant recommendations based on property attributes* v)	To increase hotel and Airbnb booking by matching customers with the most ones and therefore benefiting the property owne

## BUSINESS QUESTIONS 
## EXPECTED BENEFITS TO THE ORGANISATION

## BUSINESS SUCCESS CRITERIA 

## PROJECT SUCCESS CRITERIS

## ASSESSING THE SITUATION

## PROJECT GOALS

## PROJECT PLAN

Business Understanding

Data Understanding

Data Preparation

Exploratory Data AnaFeature Engineeringparation

# DATA UNDERSTANDING 
## OVERVIEW
## DATA DESCRIPTION





Modeling



rs.

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [3]:
# Loading the data
df = pd.read_csv("data_2/Airbnb_Data.csv")
# Previewing the first five rows of the dataset
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [4]:
# Previewing the last five rows of the data set
df.tail()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
74106,14549287,4.605170,Apartment,Private room,{},1,1.0,Real Bed,flexible,False,...,40.709025,-73.939405,one room bushwick,Williamsburg,0,NaN,https://a0.muscache.com/im/pictures/55162426/6...,11206.0,1.0,1.0
74107,13281809,5.043425,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,2.0,Real Bed,moderate,True,...,33.871549,-118.396053,Spacious Hermosa 2 BR on PCH,Hermosa Beach,16,93.0,https://a0.muscache.com/im/pictures/2b86560b-a...,90254,2.0,4.0
74108,18688039,5.220356,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",5,1.0,Real Bed,moderate,True,...,40.706749,-73.942377,Modern 2 Bedroom Apartment in Williamsburg,Williamsburg,43,94.0,https://a0.muscache.com/im/pictures/7fbe448c-5...,11206.0,2.0,2.0
74109,17045948,5.273000,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",2,1.0,Real Bed,strict,True,...,40.738535,-74.000157,Designer's Apartment in HEART of NYC,West Village,0,NaN,https://a0.muscache.com/im/pictures/b3971b63-0...,10011,0.0,2.0
74110,3534845,4.852030,Boat,Entire home/apt,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",4,1.0,Real Bed,moderate,False,...,33.761096,-118.192409,Cozy Boat at Shoreline Village,Long Beach,205,96.0,https://a0.muscache.com/im/pictures/22968537/d...,90802,1.0,2.0

In [5]:
# Getting the shape of the dataset
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns")

The dataset has 74111 rows and 29 columns

### Preliminary Data Inspection

In [7]:
# Getting the 'data' about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [8]:
# Checking the number of data types 
df.dtypes.value_counts()

object     18
float64     7
int64       3
bool        1
Name: count, dtype: int64

In [9]:
# Checking the data types of the columns
df.dtypes

id                          int64
log_price                 float64
property_type              object
room_type                  object
amenities                  object
accommodates                int64
bathrooms                 float64
bed_type                   object
cancellation_policy        object
cleaning_fee                 bool
city                       object
description                object
first_review               object
host_has_profile_pic       object
host_identity_verified     object
host_response_rate         object
host_since                 object
instant_bookable           object
last_review                object
latitude                  float64
longitude                 float64
name                       object
neighbourhood              object
number_of_reviews           int64
review_scores_rating      float64
thumbnail_url              object
zipcode                    object
bedrooms                  float64
beds                      float64
dtype: object

In [10]:
# Obtaining the summary descriptive statistics of the data
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,74111.0,NaN,NaN,NaN,11266617.102468,6081734.886894,344.0,6261964.5,12254147.0,16402260.5,21230903.0
log_price,74111.0,NaN,NaN,NaN,4.782069,0.717394,0.0,4.317488,4.70953,5.220356,7.600402
property_type,74111,35,Apartment,49003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
room_type,74111,3,Entire home/apt,41310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amenities,74111,67122,{},586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,74111.0,NaN,NaN,NaN,3.155146,2.153589,1.0,2.0,2.0,4.0,16.0
bathrooms,73911.0,NaN,NaN,NaN,1.235263,0.582044,0.0,1.0,1.0,1.0,8.0
bed_type,74111,5,Real Bed,72028,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cancellation_policy,74111,5,strict,32374,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cleaning_fee,74111,2,True,54403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,74111,6,NYC,32349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,74111,73479,"Hello, I've been running guest house for Korea...",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first_review,58247,2554,2017-01-01,293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_has_profile_pic,73923,2,t,73697,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_identity_verified,73923,2,t,49748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_response_rate,55812,80,100%,43254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_since,73923,3087,2015-03-30,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
instant_bookable,74111,2,f,54660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_review,58284,1371,2017-04-30,1344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,74111.0,NaN,NaN,NaN,38.445958,3.080167,33.338905,34.127908,40.662138,40.746096,42.390437
longitude,74111.0,NaN,NaN,NaN,-92.397525,21.705322,-122.5115,-118.342374,-76.996965,-73.95466,-70.985047
name,74111,73359,Bunk bed in the Treat Street Clubhouse,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood,67239,619,Williamsburg,2862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_reviews,74111.0,NaN,NaN,NaN,20.900568,37.828641,0.0,1.0,6.0,23.0,605.0
review_scores_rating,57389.0,NaN,NaN,NaN,94.067365,7.836556,20.0,92.0,96.0,100.0,100.0
thumbnail_url,65895,65883,https://a0.muscache.com/im/pictures/70087089/b...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zipcode,73145,769,11211.0,1368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,74020.0,NaN,NaN,NaN,1.265793,0.852143,0.0,1.0,1.0,1.0,10.0
beds,73980.0,NaN,NaN,NaN,1.710868,1.254142,0.0,1.0,1.0,2.0,18.0

### OBSERVATIONS
`bed`, `bedrooms` and `bathrooms` columns should be intergers.

`host_since`,`first_review` and `last_review` columns should be of datetime data type.

`id` column should be an object.

There are 18 categorical columns, 10 numerical and 1 boolean data type in the data set.

# DATA PREPARATION
## TYPE CASTING  1

In [26]:
# converting columns to their correct data types
df["beds"] = df["beds"].astype("int")
df["bedrooms"] = df["bedrooms"].astype("int")
df["bathrooms"] = df["bathrooms"].astype("int")

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer